


.petlist_row img {
    margin-right: 1em;
}

.petlist_row span {
    min-width: 100px;
}

.actions {
   margin-left: auto; 
}

.actions a,
.actions button
{
    text-decoration: none;
    background-color: #fff;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #16479d;
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: #16479d;
    color: #fff;
}

.actions .conclude_btn {
    color: #25b456;
    border-color: #25b456;
}

.actions .conclude_btn:hover {
    color: #fff;
    background-color: #25b456;
}

/* my adoptions */

.contacts {
    margin-left: 2em;
}

.contacts p {
    margin-bottom: 0.5em;
}