
@import url('https://fonts.googleapis.com/css2?family=Unbounded:ital,wght@0,100..900;1,100..900&display=swap');

@import "./variables";

@import '~bootstrap/scss/bootstrap.scss';
@import 'material-icons/iconfont/material-icons.css';

* { 
  padding: 0;
  margin: 0;
  font-family: 'Unbounded';
  box-sizing: border-box;
}


h1 {
  color: #16479d;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: #16479d;
}
